.icon {
  --iconColor: currentColor;
  width: 1em;
  height: 1em;
}

.divider-line {
  width: 100%;
  padding: 1.5rem 0;

  &::before {
    position: absolute;
    content: '';
    left: 50%;
    width: 4rem;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid currentColor;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.25rem;

  .tag {
    display: flex;
    align-items: center;
    color: white;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    background-color: $textGray;
    border-radius: 4px;
    font-weight: 600;
  }
}

.page-section {
  position: relative;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-image: url('~@/assets/images/textures/paper.png');
    pointer-events: none;
    z-index: 100;
  }
}

.section-content {
  padding: 5rem 0;
}

.section-content-center {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include media('>=phone') {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
