@import "~include-media/dist/include-media";


// MEDIA QUERIES

$breakpoints: (
  'small': 375px,
  'phone': 540px,
  'tablet': 768px,
  'desktop': 1024px,
  'large': 1440px,
  'x-large': 2000px
);


// COLORS

$experience-colors: #00bf9f, #ef476f, #e5a91d, #118ab2;

@function hexToRGB($colorHex) {
  @return #{red($colorHex)}, #{green($colorHex)}, #{blue($colorHex)};
}


//TYPOGRAPHY

$font-stack: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
