html, body {
  color: #222;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include media('>=tablet') {
    font-size: 16px;
  }

  @include media('<small') {
    font-size: 12px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--current-color-800);
  line-height: 1.25;
}

textarea {
  display: block;
}

p, a, label, h1, h2, h3, h4, h5, h6, ul, ol, dl {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.text--xsmall {
  font-size: $fs-xsmall !important;
}

.text--small {
  font-size: $fs-small !important;
}

.text--normal {
  font-size: $fs-normal !important;
}

.text--medium {
  font-size: $fs-medium !important;
}

.text--large {
  font-size: $fs-large !important;
}

.text--xlarge {
  font-size: $fs-xlarge !important;
}

.text--xxlarge {
  font-size: $fs-xxlarge !important;
}

.fw--normal {
  font-weight: $fw-normal !important;
}

.fw--medium {
  font-weight: $fw-medium !important;
}

.fw--bold {
  font-weight: $fw-bold !important;
}

.fw--boldest {
  font-weight: $fw-boldest !important;
}

.td-underline {
  text-decoration: underline !important;
}

.text--nowrap {
  white-space: nowrap !important;
}
