// SPACING

$spacing-list: 0, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem;

@each $type in margin, padding {
  @for $i from 1 through length($spacing-list) {
    .#{$type}-#{$i - 1} {
      #{$type}: #{nth($spacing-list, $i)} !important;
    }

    .#{$type}-v-#{$i - 1} {
      #{$type}: #{nth($spacing-list, $i)} 0 !important;
    }

    .#{$type}-h-#{$i - 1} {
      #{$type}: 0 #{nth($spacing-list, $i)} !important;
    }

    .#{$type}-t-#{$i - 1} {
      #{$type}-top: #{nth($spacing-list, $i)} !important;
    }

    .#{$type}-b-#{$i - 1} {
      #{$type}-bottom: #{nth($spacing-list, $i)} !important;
    }

    .#{$type}-l-#{$i - 1} {
      #{$type}-left: #{nth($spacing-list, $i)} !important;
    }

    .#{$type}-r-#{$i - 1} {
      #{$type}-right: #{nth($spacing-list, $i)} !important;
    }
  }
}

// MISC

.cursor-pointer {
  cursor: pointer !important;
}

.pointer-events {
  pointer-events: auto !important;
}

.no-pointer-events {
  pointer-events: none !important;
}
