// MISC
.screen-reader-only {
  @include screen-reader-only;
}

.pe-none {
  pointer-events: none !important;
}

.pe-all {
  pointer-events: all !important;
}

.c-pointer {
  cursor: pointer !important;
}
