// SPACING

$spacing-list: 0, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 2rem;

@each $type in margin, padding {
  @for $i from 1 through length($spacing-list) {
    $spacing: nth($spacing-list, $i);
    $number: $i - 1;

    .#{$type}-#{$number} {
      #{$type}: #{$spacing} !important;
    }

    .#{$type}-v-#{$number} {
      #{$type}: #{$spacing} 0 !important;
    }

    .#{$type}-h-#{$number} {
      #{$type}: 0 #{$spacing} !important;
    }

    .#{$type}-t-#{$number} {
      #{$type}-top: #{$spacing} !important;
    }

    .#{$type}-b-#{$number} {
      #{$type}-bottom: #{$spacing} !important;
    }

    .#{$type}-l-#{$number} {
      #{$type}-left: #{$spacing} !important;
    }

    .#{$type}-r-#{$number} {
      #{$type}-right: #{$spacing} !important;
    }
  }
}

// MISC

.cursor-pointer {
  cursor: pointer !important;
}

.pointer-events {
  pointer-events: auto !important;
}

.no-pointer-events {
  pointer-events: none !important;
}
