// MISC

.invisible {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.screen-reader-only {
  @include screen-reader-only;
}

.pe-none {
  pointer-events: none !important;
}

.pe-all {
  pointer-events: all !important;
}

.c-pointer {
  cursor: pointer !important;
}
